.coupon {
    border: 5px dotted #bbb; /* Dotted border */
    width: 80%;
    border-radius: 15px; /* Rounded border */
    margin: 0 auto; /* Center the coupon */
    padding-top: 10t;
    max-width: 600px;
  }
  .cont{
    text-align: center;
  }
  .container1 {
    padding: 2px 16px;
    background-color: #f1f1f1;
  }
  
  .promo {
    background: #ccc;
    padding: 3px;
  }
  
  .expire {
    color: red;
  }
  .timer{
        text-align: center;
        color: red;
  }
  .cent{
    text-align: center;
  }