<app-navbar></app-navbar>

<div class="container">

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>OrderId</th>
                <th colspan="4" class="cent">Items</th>
                <th>Total Cost</th>

                <!-- <th>Items</th>
                    <th>Price</th>
                    <th></th> -->

            </tr>
        </thead>
        <tbody>
            <tr>
                <th>#</th>

                <th>Item Name</th>
                <th>Item Quantity</th>
                <th>Item Price</th>
                <th>Total Price</th>

                <th><span style="font-weight:bold;">&#8377;</span></th>
            </tr>

            <tr *ngFor="let o of orders">
                <td>{{o.id}}</td>


                <div>
                    <td *ngFor="let i of o.items">
                        <div>{{i.item.itemName}}</div>
                    </td>
                    <td *ngFor="let i of o.items">
                        <div>
                            {{i.quant}}
                        </div>
                    </td>
                    <td *ngFor="let i of o.items">
                        <div>
                            <span style="font-weight:bold;">&#8377;</span>{{kk.itemPrice}}
                        </div>
                    </td>
                    <td *ngFor="let i of o.items">
                        <div>
                            <span style="font-weight:bold;">&#8377;</span>{{i.item.itemPrice * i.quant}}
                        </div>
                    </td>
                </div>

                <td>{{o.total}}</td>








            </tr>
        </tbody>

    </table>
    <!-- <div class="row" *ngFor="let o of orders">
               <div class="col-md-4">
                   <div class="row">
                       <div class="col-md-3">
                            <h6> OrderId :</h6>
                       </div>
                       <div class="col-md-2">
                            <span style="text-align: left;">{{o.id}}</span>
                        </div>
                   </div>
                  
               </div> -->

    <!-- </div> -->
</div>