<div class="container-fluid">
    <app-navbar></app-navbar>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th class="cent">OrderId</th>
                <th class="cent">Counter</th>
                <th colspan="4" class="cent">Items</th>
                <th class="cent">Total Cost</th>

                <!-- <th>Items</th>
                    <th>Price</th>
                    <th></th> -->

            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="cent">#</th>
                <th class="cent"></th>
                <th class="cent">Item Name</th>
                <th class="cent">Item Quantity</th>
                <th class="cent">Item Price</th>
                <th class="cent">Total Price</th>

                <th class="cent"><span style="font-weight:bold;">&#8377;</span></th>
            </tr>

            <tr *ngFor="let o of orders">
                <td class="cent">{{o.id}}</td>
                <td class="cent">{{o.counter.counterName}}</td>


                <td class="cent">
                    <div *ngFor="let i of o.items"><span>{{i.item.itemName}}</span></div>
                </td>
                <td class="cent">
                    <div *ngFor="let i of o.items">
                        {{i.quant}}
                    </div>
                </td>
                <td class="cent">
                    <div *ngFor="let i of o.items">
                        <span style="font-weight:bold;">&#8377;</span>{{i.item.itemPrice}}
                    </div>
                </td>
                <td class="cent">
                    <div *ngFor="let i of o.items">
                        <span style="font-weight:bold;">&#8377;</span>{{i.item.itemPrice * i.quant}}
                    </div>
                </td>


                <td class="cent"><span style="font-weight:bold;">&#8377;</span>{{o.total}}</td>

            </tr>

        </tbody>

    </table>
    <!-- <div class="row" *ngFor="let o of orders">
               <div class="col-md-4">
                   <div class="row">
                       <div class="col-md-3">
                            <h6> OrderId :</h6>
                       </div>
                       <div class="col-md-2">
                            <span style="text-align: left;">{{o.id}}</span>
                        </div>
                   </div>
                  
               </div> -->

    <!-- </div> -->
</div>