.bg{
 background:url(C:\projectdxc\dxccafe\src\assets\counterback.jpg) ;
background-position-x: center;
background-position-y: center;
height: 577px;

}
.jj{
    color: white;
    text-align: center;
    font-weight: bolder;
}

.col{
    background-color: rgb(202, 202, 45);
    border-radius: 15px;
    block-size: 8.3cm;    
   } 
.row1{
    padding-block-end: 10pt;
}
p{
    color: red;
    font-weight: bold;
}
.col-md-4{
    
    background-color: rgb(202, 202, 45);
    border-radius: 15px; 
    block-size: 13.6cm;   
   }
   .r1{
    margin-top: 50pt;
   }
   .btn{
      margin-left: 95pt;
   }
   .btn2{
    margin-left: 70pt;
 }
 .small{
     font-weight: bold;
 }
